header {
  width: 100%;
  background-color: #054b91;
  color: #ffffff;

  nav {
    background-color: #054A91;
    font-size: 1.2rem;
  }
}

.dropdown-title {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

.user-picture {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
}

.navbar-display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-end {
  width: fit-content;
}
