<div class="container">
  <main class="main">
    <div class="main__login">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Digite seu nome de usuário/e-mail" formControlName="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Digite sua senha" formControlName="password" >
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>

      <p *ngIf="messageError">Usuário não encontrado! Caso não tenha conta <span class="sign-link" [routerLink]="['/login/signup']">cadastre-se aqui.</span></p>

      <p *ngIf="!messageError">Não tem uma conta? <span class="sign-link" [routerLink]="['/login/signup']">Cadastre-se</span></p>

      <div class="divider">
          <span class="divider__line__text">ou</span>
          <hr class="divider__line">
      </div>

      <p class="main__login__institutional-link" (click)="loginAdmin()">Entre com a sua <b>Conta Institucional</b></p>
    </div>
  </main>
</div>
