<div class="container">
  <main class="main">
    <div class="main__login">
      <form class="main__login__form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <label for="user">Usuário
          <input id="email" type="email" placeholder="Digite seu nome de usuário/e-mail"
          formControlName="email"/></label>
        <label for="password">Senha
          <input id="password" type="password" placeholder="Digite sua senha" formControlName="password" /></label>

        <button class="main__login__form__login-button" type="submit" [disabled]="!formLogin.valid">Entrar</button>
      </form>

      <p *ngIf="messageError">Usuário não encontrado! Caso não tenha conta <span class="sign-link" [routerLink]="['/login/signup']" style="text-decoration: underline;">cadastre-se aqui.</span></p>

      <p *ngIf="!messageError">Não tem uma conta? <span class="sign-link" [routerLink]="['/login/signup']">Cadastre-se</span></p>

      <div class="divider">
        <hr class="divider__line">
          <span class="divider__line__text">ou</span>
        <hr class="divider__line">
      </div>

      <p class="main__login__institutional-link">Entre com a sua <b>Conta Institucional</b></p>
    </div>
  </main>
</div>
