<div class="container">
  <main class="main">
    <div class="main__signin">
      <form class="main__signin__form">
        <label for="name">Nome <input id="name" type="text" placeholder="Digite seu nome" /></label>
        <label for="surname">Sobrenome <input id="surname" type="text" placeholder="Digite seu sobrenome" /></label>
        <label for="email">E-mail <input id="email" type="email" placeholder="Digite seu e-mail" /></label>
        <label for="password">Senha <input id="password" type="password" placeholder="Digite sua senha" /></label>
        <label for="repeat-password">Repita sua senha <input id="repeat-password" type="password" placeholder="Digite sua senha novamente" /></label>
        <button class="main__signin__form__signin-button">Cadastrar</button>
      </form>
      <p>Já tem uma conta? <span class="sign-link" [routerLink]="['/login']">Clique aqui para entrar</span></p>
    </div>
  </main>
</div>
