.container {
  max-width: 100%;
  min-height: 90vh;
  margin: 0;
  padding: 0;

  .main {
    width: 100%;
    min-height: 90vh;
    display: flex;

    &__content {
      padding: 3rem 2rem;
      width: 100%;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        h3 {
          margin: 0;
          font-weight: 600;
          color: #054A91;
        }

        &__end {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}

.story-owner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: .8rem;
  padding-right: 1.3rem;
}
