.modal-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00000020;
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    padding: 2rem;
    width: 100%;
    min-height: 100px;

    @media screen and (min-width: 700px) {
      width: fit-content;
    }
  }
}
